name: CD
on:
  push:
    branches:
      - master

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: "typescript"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          # for npm-version-to-git
          fetch-depth: 0
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15
        with:
          enable_kvm: true
          extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
      # Our private cache, feel free to substitute in a fork
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1
        with:
          name: anterior-private
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - uses: nicknovitski/nix-develop@5da6ac475f1ffbcf54ee562fa3056646e146be95
      - run: |
          npm config set registry https://registry.npmjs.org
      - run: npm ci
      - run: npm-version-to-git
      - run: |
          printf '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}\n' > ~/.npmrc
      - run: npm run build
      - run: npm publish --access public --provenance
